<div class="container">
<h1>Create a new user</h1>

<% if @errors.any? %>
L'utilisateur n'a pas été créé car :
<ul>
<% @errors.messages.each do |error| %>
  <li><%= error[0] %></li>
  <ul>
  <% error[1].each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
</ul>

<% end %>

<form action="/users/new" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div class="form-group">
Name :
  <input type="text" name="username" placeholder="Enter name" class="form-control">
</div>
<div class="form-group">
 Bio :
  <textarea name="bio" rows="4" cols="50"  class="form-control">Enter bio</textarea>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Créer le nouvel utilisateur</button>
</div>
</form>
</div>